


<div class="row">
	<div class="col-md-5" style="align:right">
		<button  (click)="downloadPDF()">PDF</button>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-1">
			<div *ngIf="pdfShow">
			<iframe width="600" height="400" [src]="dataLocalUrl" type="application/pdf"></iframe>
			</div>
		</div>
	</div>
</div> 

 <!-- <object [attr.data]="dataLocalUrl" type="application/pdf" width="100%" height="100%"></object> -->
 
 
  
 <!-- <input id="inputFile" type="file" (change)="convertToBase64()" />   -->